<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car Type List</title>
</head>
<body>
<h1>Car Type List</h1>
<button onclick="location.href='/carTypesCreate'">Create CarType</button>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type : ${carTypes}">
        <td th:text="${type.typeId}"></td>
        <td th:text="${type.typeName}"></td>
        <td th:text="${type.description}"></td>
        <td>
            <a th:href="@{carTypesEdit(id=${type.typeId})}">Edit</a>
            <a th:href="@{carTypesDelete(id=${type.typeId})}" onclick="return confirm('Delete this car type?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
