<!DOCTYPE html>
<html>
<head>
  <title>Location.href Example</title>
</head>
<body>
<h1>location.href Demo</h1>

<!-- Button to READ the current URL -->
<button onclick="alert('Current URL is: ' + location.href)">
  Show Current URL
</button>

<br><br>

<!-- Button to REDIRECT using location.href -->
<button onclick="location.href = '/cars'">
  Go to /cars (Redirect using href)
</button>

<br><br>

<!-- Button to REDIRECT using location -->
<button onclick="location = '/carTypes'">
  Go to /carTypes (Redirect using location)
</button>
</body>
</html>
